# Default ignored files
/../../../../../../../../../..//SpringBootsWorks/SpringConfigFile/.idea/shelf/
/../../../../../../../../../..//SpringBootsWorks/SpringConfigFile/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../..//SpringBootsWorks/SpringConfigFile/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../..//SpringBootsWorks/SpringConfigFile/.idea/dataSources/
/../../../../../../../../../..//SpringBootsWorks/SpringConfigFile/.idea/dataSources.local.xml
